<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Music Instrument Store</h1>
    <% categories.forEach(({category})=>{ %>
<section><a href="/category/<%=category%>"><%=category%></a><a href="/category/delete">Delete</a></section>

    <%})%>
   <a href="/category/add">Add Category</a>
</body>
</html>