<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1>Music Instrument Store</h1>
    <h2>Categories</h2>
    <% categories.forEach(({category})=>{ %>
    <section>
      <a href="/category/<%=category%>"><%=category%></a>

      <form action="/category/<%=category%>/delete" method="POST">
        <button type="submit">DELETE CATEGORY</button>
      </form>
    </section>

    <%})%>
    <a href="/category/add">Add Category</a>
    <a href="/product/add">Add Product</a>
  </body>
</html>
